AppSensor WCF Client/Service References/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl" elementFormDefault="qualified" targetNamespace="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:65499/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/org.owasp.appsensor" />
  <xs:element name="addEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/org.owasp.appsensor" minOccurs="0" name="Event" nillable="true" type="q1:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addAttack">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/org.owasp.appsensor" minOccurs="0" name="attack" nillable="true" type="q2:Attack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAttackResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="earliest" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResponsesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/org.owasp.appsensor" minOccurs="0" name="getResponsesResult" nillable="true" type="q3:ArrayOfResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>