UnitTests/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl/Imports">
      <xsd:import schemaLocation="http://localhost:65499/Service.svc?xsd=xsd0" namespace="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl" />
      <xsd:import schemaLocation="http://localhost:65499/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65499/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/org.owasp.appsensor" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFRequestHandler_addEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:addEvent" />
  </wsdl:message>
  <wsdl:message name="IWCFRequestHandler_addEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:addEventResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFRequestHandler_addAttack_InputMessage">
    <wsdl:part name="parameters" element="tns:addAttack" />
  </wsdl:message>
  <wsdl:message name="IWCFRequestHandler_addAttack_OutputMessage">
    <wsdl:part name="parameters" element="tns:addAttackResponse" />
  </wsdl:message>
  <wsdl:message name="IWCFRequestHandler_getResponses_InputMessage">
    <wsdl:part name="parameters" element="tns:getResponses" />
  </wsdl:message>
  <wsdl:message name="IWCFRequestHandler_getResponses_OutputMessage">
    <wsdl:part name="parameters" element="tns:getResponsesResponse" />
  </wsdl:message>
  <wsdl:portType name="IWCFRequestHandler">
    <wsdl:operation name="addEvent">
      <wsdl:input wsaw:Action="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl/IWCFRequestHandler/addEvent" message="tns:IWCFRequestHandler_addEvent_InputMessage" />
      <wsdl:output wsaw:Action="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl/IWCFRequestHandler/addEventResponse" message="tns:IWCFRequestHandler_addEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addAttack">
      <wsdl:input wsaw:Action="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl/IWCFRequestHandler/addAttack" message="tns:IWCFRequestHandler_addAttack_InputMessage" />
      <wsdl:output wsaw:Action="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl/IWCFRequestHandler/addAttackResponse" message="tns:IWCFRequestHandler_addAttack_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getResponses">
      <wsdl:input wsaw:Action="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl/IWCFRequestHandler/getResponses" message="tns:IWCFRequestHandler_getResponses_InputMessage" />
      <wsdl:output wsaw:Action="https://www.owasp.org/index.php/OWASP_AppSensor_Project/wsdl/IWCFRequestHandler/getResponsesResponse" message="tns:IWCFRequestHandler_getResponses_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>